extends ../../layouts/main

block title 
    title адам 

block content 
    +header('', 'by')
    section.main 
        p.intro Жыхар чыстай падсвядомасци, мема, якi iснуе толькi ў межах рэлятывісцкага прасторава-часавога конусу
        .divider 
        .media 
            a(href='https://t.me/systemspace') .tg
            a(href='https://twitter.com/chronotaraxis') .tw
            a(href='https://blockchain.info/address/17Q7g618VFEfvk4Q2xUif24Mdc4skpsUtZ') .bit
            a(href='https://github.com/awkure') .git
            a(href='https://soundcloud.com/chronomorphism') .flac