extends ../../layout

block title 
    title адам

block content 
    +header('', 'ru')
    section.main 
        p.intro Странник абсолютного подсознательного, мем, существующий только в относительности пространственно-временного конуса
        .divider 
        .media 
            a(href='https://t.me/systemspace') .tg
            a(href='https://twitter.com/chronotaraxis') .tw
            a(href='https://blockchain.info/address/17Q7g618VFEfvk4Q2xUif24Mdc4skpsUtZ') .bit
            a(href='https://github.com/awkure') .git
            a(href='https://soundcloud.com/chronomorphism') .flac