extends ../layouts/blog

block title 
    title Stream

block content 
    +header('root/blog', 'en')
    .logo 
        h1 Stream
    main 
        - 
            const articles = [ [ "Спектральный-анализ-психофизического-расслоения.html" , 2019 ]
                             , [ "Сасуд.html"                                           , 2019 ]
                             , [ "Отступ-в-Формальную-Философию.html"                   , 2018 ] 
                             , [ "Fish-can't-see-water.html"                            , 2018 ] ]
                             
            const years = [...new Set(articles.reduce((acc, cur) => [...acc, cur[1]], []))]
            const renderTitle = a => a.slice(0,-5).split('-').join(' ')
        each year in years 
            section 
                h3 #{year}
                p
                    each file in articles.filter(x => x[1] === year)
                        a(href=year + '/' + file[0]) #{renderTitle(file[0])}