extends ../../../layouts/blog

//- mixin posts(articles)

block title 
    title アダム | 記事

block content 
    +header('根/流れ', 'jp')
    .logo 
        h1 流れ
    main 
        - 
            const articles = [ [ '超宗教.html', '二千十九' ] ]
            const years = [...new Set(articles.reduce((acc, cur) => [...acc, cur[1]], []))]
            const renderTitle = a => a.slice(0,-5).split('-').join(' ')
        each year in years 
            section 
                h3 #{year}
                p
                    each file in articles.filter(x => x[1] === year)
                        a(href=year + '/' + file[0]) #{renderTitle(file[0])}